{% extends '@SonataAdmin/CRUD/list.html.twig' %}

{% block actions %}
    {% spaceless %}
        <li>{% include '@IbrowsSonataTranslation/Core/clear_cache_button.html.twig' %}</li>
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include '@SonataAdmin/Core/create_button.html.twig' %}</li>
        {% endif %}
    {% endspaceless %}
{% endblock %}